<h1>全問正解！やったね！おめでとう！天才だ！さすがだ！一緒に頑張る！すてき！</h1>

<%= link_to "X でみんなに自慢", "https://twitter.com/share?url=#{root_url}&text=やったね100点満点！！青春最高！！#ミニアプリWeek", target: "_blank" %>
<br>
<%= link_to "リトライ", root_path %>
<br>
<br>
 <figcaption class="blockquote-footer">
   special thanks  <%= link_to "Fate宝具クイズ", "fatequiz.fly.dev" %>、アプリ作成会のみなさま
 </figcaption>
