<div class="container mb-5 pt-5">
  <div class="row">
    <div class="col-md-15 mb-3">
      <h1><font color="#1E90FF">おめでとうございます！</font></h1>
      <br>
      <p><strong>あなたは真の知識の使者！</p>
      <p>全問正解！天才ですね！</p>
      <p>さすがです！</p>
      <p>これからも知識の旅を続け、驚くべき成果を手に入れてください！</p>
      <p>あなたの輝かしい未来に乾杯！🎉🎊✨</strong></p>

      <%= link_to "X でみんなに自慢", "https://twitter.com/share?url=#{root_url}&text=やったね100点満点！！青春最高！！#ミニアプリWeek", target: "_blank" %>
      <br>
      <%= link_to "リトライ", root_path %>
    </div>
  </div>
      
  <div class="row">
    <div class="col-md-15 mb-3 pt-5">
      <figcaption class="blockquote-footer">
        special thanks  <%= link_to "Fate宝具クイズ", "fatequiz.fly.dev" %>、アプリ作成会のみなさま
      </figcaption>
    </div>
  </div>
</div>

