<div class="container mb-5 pt-5">
  <div class="row">
    <div class="col-md-15 mb-3">
      <h1><font color="#4169E1">わっしょい！楽しい！青春クイズ！</font></h1>
      <br>
      <p>大変恐縮ですが、わたしの青春に関するクイズです</p>
      <p>全問正解目指してガンバッテクダサイ！</p>
      <p>3択なので安心してください！</p>

      <%= form_with url: questions_path(Question.first), method: :get do |f| %>
        <%= f.button type: "submit", class: "btn btn-primary" do %>
         はじめる 
        <% end %>
      <% end %>
    </div>
  </div>
</div>

